body{
  background-image: url(kepek/hatter.jpg);
  max-width: 900px;
  margin: auto;
}
main{
display: grid;
grid-template-areas: "h h h"
                      "n a as"
                      "f f f";
background-color: white;
}
header{
  grid-area: h;
  background-image: url(kepek/fejlec.jpg);
text-align: center;
  text-shadow: 2px 2px gray;
  padding-top: 20px;
}
nav{
  grid-area: n;
  background-color: white;
}

h1{
  color: white;
  text-align: center
}

.menu ul{
text-decoration: none;
list-style-type: none;
}

.menu1{
border: 2px solid rgb(7, 113, 211);
border-radius: 10px;
padding: 5px;
text-align: center;
list-style-type: none;
width: 200px;
background-color: rgb(7, 113, 211);
}

.menu2{
border: 2px solid rgb(7, 113, 211);
border-radius: 10px;
padding: 5px;
text-align: center;
list-style-type: none;
width: 200px;
background-color: rgb(7, 113, 211);
}

.menu3{
border: 2px solid rgb(7, 113, 211);
border-radius: 10px;
padding: 5px;
text-align: center;
list-style-type: none;
width: 200px;
background-color: rgb(7, 113, 211);
}

.menu4{
border: 2px solid rgb(7, 113, 211);
border-radius: 10px;
padding: 5px;
text-align: center;
list-style-type: none;
width: 200px;
background-color: rgb(7, 113, 211);
}

.menu li a {
display: block;
color: white;
text-decoration: none;
list-style-type: none;
margin: 2px;
}

.menu a:visited{
color: white;
text-decoration: none;
list-style-type: none;
}

.menu li a:hover {
background-color:rgb(7, 113, 211);
color: white;
text-decoration: none;
list-style-type: none;
}

.menu a:active{
color: blue;
}

article{
  grid-area: a;
  background-color: white;
  padding: 2px;
}

aside{
background-color: white;
grid-area: as;
text-align: justify;
border: 1px solid black;
padding-top: 40px;
padding-bottom: 400px;
padding-left: 20px;
padding-right: 20px;
  
}
.vers{
  margin: 55px;
  text-align: left;
  letter-spacing: normal;
  word-spacing: -2px;
  text-align: left;
}

footer{
  grid-area: f;
  background-color: rgb(7, 113, 211);
  text-align: center;  
}

table{
  width: 100%;
  /* cellaszegélyek közti rés eltüntetése */
  border-collapse: collapse;
  text-align: center;
}

td, th{
  
  border-bottom: 2px solid rgb(53, 164, 238) ;
}
th{
  color: black;
  font-variant: small-caps;
  background-color: rgb(202, 245, 245);
}

tbody tr:nth-child(even){
  background-color: rgb(202, 245, 245);
}

tbody tr:nth-child(odd){
  background-color: white;
}

@media screen and (max-width:600px){
main{
 grid-template-areas:"h"
            "n"
                    "a"
                    "as"
                    "f";
}
}