body{
    background-image: url(kepek/hatter.jpg);
}
main{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 75%;
        margin: auto;
        grid-template-areas: 
                            "h h h"
                            "n a as"
                            "f f f"
}
header{
    grid-area: h;
    background-image: url(kepek/fejlec.jpg);
}
h1{
    color: white;
    text-align: center
}
nav{
    grid-area: n;
    background-color: white;
    gap: 10%;
}
.menu ul{
  text-decoration: none;
    list-style-type: none;
    
}
.menu1{
  border: 2px solid rgb(7, 113, 211);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  list-style-type: none;
  width: 200px;
  background-color: rgb(7, 113, 211);
  
}
.menu2{
  border: 2px solid rgb(7, 113, 211);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  list-style-type: none;
  width: 200px;
  background-color: rgb(7, 113, 211);
}
.menu3{
  border: 2px solid rgb(7, 113, 211);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  list-style-type: none;
  width: 200px;
  background-color: rgb(7, 113, 211);
}
.menu4{
  border: 2px solid rgb(7, 113, 211);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  list-style-type: none;
  width: 200px;
  background-color: rgb(7, 113, 211);
  
}


.menu li a {
    display: block;
    color: rgb(7, 113, 211);
    text-decoration: none;
    list-style-type: none;
   
    
  }
  
.menu a:visited{
  color: white;
  text-decoration: none;
    list-style-type: none;
}
.menu li a:hover {
    background-color:rgb(7, 113, 211);
    color: white;
    text-decoration: none;
    list-style-type: none;
    
    
  }

article{
    grid-area: a;
    background-color: white;
    gap: 20px;
}
aside{
    grid-area: as;
    background-color: white;
    border: 1px solid gray;
    
    gap: 20px;
}
.vers{
    margin: 55px;
    text-align: left;
    letter-spacing: normal;
    word-spacing: -2px;
    
}
footer{
    grid-area: f;
    background-color: rgb(7, 113, 211);
    text-align: center;
    
}
table{
    width: 100%;
    /* cellaszegélyek közti rés eltüntetése */
    border-collapse: collapse;
    
    
}

td, th{
    
    border-bottom: 2px solid rgb(53, 164, 238) ;
}
th{
    color: black;
    font-variant: small-caps;
    background-color: rgb(202, 245, 245);

    
}
tbody tr:nth-child(even){
    
    background-color: rgb(202, 245, 245);

}
tbody tr:nth-child(odd){
    background-color: white;

}
@media screen and (max-width: 900px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      grid-template-areas:
        "h"
        "n"
        "a"
        "as"
        "f";
    }
    
  }
  @media screen and (max-width: 700px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      grid-template-areas:
        "h  h"
        "n a as"
        "f   f";
    }
    
  }
  @media screen and (max-width: 300px) {
    /*menu keruljon a fejlec ala*/
    main {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      grid-template-areas:
        "h"
        "n"
        "a"
        "as"
        "f";
    }
  }
